In [ ]:
import panda as pd;

data = {

    'Name': ['Akash', 'Saurab', 'Chitru', 'Aman', 'Raja'],

    'Age': [24, 27, 22, 32, 29],

    'City': ['Dhaka', 'Jharkhand', '', 'Houston', 'Phoenix']

}